{%extends "base.html"%}
{%load static%}
{% block t_choose_task_type %}

<div class="list-group">

  <a href="{% url 't_create_task' subject_id 'CommonTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Стандартное задание </h5>
    </div>
  </a>

  <a href="{% url 't_create_task' subject_id 'Test'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Тест </h5>
    </div>
  </a>
  <a href="{% url 't_create_task' subject_id 'InfoTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Выложить файлы/сообщение </h5>
    </div>
  </a>



  <div class = "container-fluid">
  
    <div class="d-flex justify-content-around">


      <div class="card" style="width: 28rem;">
        <img class="card-img-top" src="{% static 'univ_app/img/CommonTaskPreview.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Стандартное задание</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 28rem;">
        <img class="card-img-top" src="{% static 'univ_app/img/test_preview.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Тест</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 28rem;">
        <img class="card-img-top" src="{% static 'univ_app/img/infotask_preview.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Выложить файлы/материалы/сообщение</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>

  </div>







  
</div>
{% endblock %}
