{%extends "base.html"%}
{%load static%}
{% block t_choose_task_type %}

{% comment %} <div class="list-group"> {% endcomment %}

  {% comment %} <a href="{% url 't_create_task' subject_id 'CommonTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Standart task </h5>
    </div>
  </a>

  <a href="{% url 't_create_task' subject_id 'Test'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Test </h5>
    </div>
  </a>
  <a href="{% url 't_create_task' subject_id 'InfoTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Post files/message </h5>
    </div>
  </a> {% endcomment %}



  <div class = "container-fluid mt-5 pt-5">
  
    <div class="d-flex align-items-center justify-content-around">

      <a href = "{% url 't_create_task' subject_id 'CommonTask'%}" class="link-dark">
        <div class="card" style="width: 28rem;">
          <h5 class="card-title text-center">General-purpose task</h5>
          <img class="card-img-top" src="{% static 'univ_app/img/CommonTaskPreview.png' %}" alt="Card image cap">
          <div class="card-body">
            
            {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </a>
      <a href = "{% url 't_create_task' subject_id 'Test'%}" class="link-dark">
        <div class="card" style="width: 28rem;">
          <h5 class="card-title text-center">Test</h5>
          <img class="card-img-top" src="{% static 'univ_app/img/test_preview.jpg' %}" alt="Card image cap">
          <div class="card-body">
            
            {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </a>

      <a href = "t_create_task' subject_id 'InfoTask" class="link-dark">
        <div class="card" style="width: 28rem;">
          <h5 class="card-title">Post files/message</h5>
          <img class="card-img-top" src="{% static 'univ_app/img/infotask_preview.png' %}" alt="Card image cap">
          <div class="card-body">
            
            {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </a>

    </div>

  </div>







  
{% comment %} </div> {% endcomment %}
{% endblock %}
