{%extends "base.html"%}
{% block t_choose_task_type %}

<div class="list-group">

  <a href="{% url 't_create_task' subject_id 'CommonTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Стандартное задание </h5>
    </div>
  </a>

  <a href="{% url 't_create_task' subject_id 'CommonTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Тест </h5>
    </div>
  </a>
  <a href="{% url 't_create_task' subject_id 'CommonTask'%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> Выложить файлы/сообщение </h5>
    </div>
  </a>

</div>
{% endblock %}
