{%extends "base.html"%}

{% block t_statistics_subject %}



Subject's statistics "{{subject}}":
Average grade: {{avg_grade}},  Tasks assigned-{{tasks_amount}},  Completed tasks-{{tasks_performed}} ,  Tasks to complete - {{assigned_tasks_amount}}
<canvas id="bar-chart" width="800" height="450"></canvas>




<script>


// Bar chart

var barChart = document.getElementById("bar-chart")

var barChartSetUp = {
  type: 'bar',
  data: {
    labels: {{student_names|safe}} ,//["1", "2", "3", "4", "5"],
    datasets: [
      {
        label: "Grade",
        backgroundColor: "#3e95cd",//["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: {{student_avg_grades|safe}} //[2478,5267,734,784,433]//{{task_grades|safe}} 
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Grades'
    }
  }
}

new Chart(barChart , barChartSetUp );


</script>

{% endblock %}

