{%extends "base.html"%}

{% block t_statistics_subject %}


<canvas id="bar-chart" width="800" height="450"></canvas>


{{subject}} <hr>
{{tasks_amount}} <hr>
{{assigned_tasks_cnt}} <hr>
{{done_tasks_cnt}} <hr>
{{passed_tasks_cnt}} <hr>
{{eval_tasks_cnt}} <hr>
{{avg_grade}} <hr>
{{students}} <hr>
{{student_avg_grades}} <hr>



<script>


// Bar chart

var barChart = document.getElementById("bar-chart")

var barChartSetUp = {
  type: 'bar',
  data: {
    labels: {{student_names|safe}} ,//["1", "2", "3", "4", "5"],
    datasets: [
      {
        label: "Оценка",
        backgroundColor: "#3e95cd",//["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: {{student_avg_grades|safe}} //[2478,5267,734,784,433]//{{task_grades|safe}} 
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Оценки'
    }
  }
}

new Chart(barChart , barChartSetUp );


</script>

{% endblock %}

