{%extends "base.html"%}

{% block t_subject %}

<a href="{%url 't_choose_task_type' subject.id%}" class = 'btn btn-success btn-lg m-2' >Добавить задачу</a>
{% if messages %}
  {%for message in messages%}
    {{message}}
  {%endfor%}
{%endif%}
<div class="list-group">


  {%for task in tasks%}
  <a href="{%url 't_task' task.get_type task.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.title}} </h5>
      <small class="text-muted">{{task.created_at}}</small>
    </div>
    <p class="mb-1">{{task.description}}</p>
    <small class="text-muted"></small>
  </a>
  {%endfor%}

</div>






{% endblock %}
