{% extends 'base.html' %}

{% block t_task_answers %}

<div class="list-group">
  {%if task_answers%}
    {%for answer in task_answers%}
    <a href="{% url 't_task_answer' answer.id %}" class="list-group-item list-group-item-action list-group-item-darkw flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{answer}} </h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">
      {{answer.student}}
      </p>
      <small class="text-muted"></small>
    </a>
    {%endfor%}
  {%else%}
  Все задания проверены
  {%endif%}

</div>
{% endblock %}
