{%extends "base.html"%}

{% block s_group_files_subject %}

<div class = "container-fluid">

  {%for doc in docs%}
  <a class="mb-1" href = {{doc.doc.url}}> <i class="fa fa-file fa-5x"></i> </a>
  название: {{doc.filename}}
  владелец: {{doc.student}}
  {%endfor%}
  <hr>



  <form class="form-group" action="{% url 's_group_files_subject' subject.id   %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <button class = "btn btn-success btn-lg" type="submit" name="button"> загрузить документ </button>
  </form>
</div>








{% endblock %}