{%extends "base.html"%}

{% block s_statistics %}


<canvas id="bar-chart" width="800" height="450"></canvas>

<script>


// Bar chart

var barChart = document.getElementById("bar-chart")

var barChartSetUp = {
  type: 'bar',
  data: {
    labels: ["1", "2", "3", "4", "5"],
    datasets: [
      {
        label: "Оценка",
        backgroundColor: "#3e95cd",//["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: {{each_grade_quantity|safe}}//[2478,5267,734,784,433]
      }
    ]
  },
  options: {
    legend: { display: false },
    title: {
      display: true,
      text: 'Оценки'
    }
  }
}

new Chart(barChart , barChartSetUp );


</script>

{% endblock %}

