
{% load user_tags %}
{% load static %}

<div class="nav flex-column ">
  {%if user.is_authenticated%}
    
    {%if request.user.is_authenticated%}



  
      {% if request.user|has_group:'teacher' %}
      
      <img src="{% static 'univ_app/img/teacher2.jpg' %}" alt="" width = 140 height = 140 style = "border-radius:50%">
      {%else%}
      <img src="{% static 'univ_app/img/student.jpg' %}" alt="" width = 140 height = 140 style = "border-radius:50%">
      {%endif%}


      
{% comment %} 
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ picture_form.as_table }}
      </table>
      <hr><br>
        <input type="submit" value="Submit">
      </form>  {% endcomment %}

      <hr>
    {%endif%}
    
    <a class = "nav-link" href="{% url 'ts_subjects' %}">Мои дисциплины</a> <hr>
    {% if request.user|has_group:'teacher' %}
    <a class = "nav-link" href="{% url 't_statistics' %}">Статистика</a> <hr>
    <a class = "nav-link" href="{% url 't_task_answers' %}">Ответы студентов</a> <hr>
    {% else %}
    <a class = "nav-link" href="{% url 's_tasks' %}">Мои задания</a> <hr>
    <a class = "nav-link" href="{% url 's_statistics' %}">Моя статистика</a> <hr>
    <a class = "nav-link" href="{% url 's_group_files' %}">Файлы группы</a> <hr>
    {%endif%}
    <a class = "nav-link" href="{% url 'log_out' %}">Выход</a> <hr>
  {%else%}
    <a class = "nav-link" href="{% url 'login_form' %}" >Вход</a>
  {%endif%}

</div>
