{%extends "base.html"%}

{% block ts_subjects %}


<div class="list-group">

  {%for subject in subjects%}
  <a href="{% url 't_subject' subject.id%}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{subject}} Группа 302</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  {%endfor%}

</div>






{% endblock %}
