{%extends "base.html"%}
{%load user_tags%}

{% block ts_subject %}

{% if messages %}
  {%for message in messages%}
    {{message}}
  {%endfor%}
{%endif%}


{% if request.user|has_group:'teacher' %}
  <a href="{%url 't_choose_task_type' subject.id%}" class = 'btn btn-success btn-lg m-2 btn-block w-100' >Добавить задание</a>
  <hr>
{% endif%}

{%if not tasks%}
<h4 class = "text-center">
Задания ещё не были назначены
<h4>
{%endif%}
<div class="list-group">

  {%for task in tasks%}
  <a href="{%url 'ts_task' task.get_type task.id %}" class="list-group-item  list-group-item-action list-group-item-dark flex-column align-items-start my-1">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{task.title}} </h5>
      <small class="text-muted">{{task.created_at}}</small>
    </div>
    <p class="mb-1">{{task.get_type_for_user}}</p>
    <small class="text-muted"></small>
  </a>
  {%endfor%}

</div>






{% endblock %}
