{%extends "base.html"%}
{%load user_tags%}
{% block ts_task %}


<div class="list-group">
  <div class="flex-column align-items-start">
    <div class="d-flex w-60 justify-content-between">
      <h5 class="mb-1">{{task.title}} </h5>
      <small class="text-muted">{{task.created_at}}</small>
    </div>
    <p class="mb-1">{{task.description}}</p>
    <small class="text-muted"></small>
  </div>


</div>

  {% if not request.user|has_group:'teacher' %}
  <a class = "btn btn-success btn-lg" href ="{% url 'answer_task' task.get_type task.id %}" name="button">
    {%if task.get_type == "InfoTask"%}
    С материалами ознакомлен(а)
    {%else%}
    Выполнить задание
    {%endif%}
  </a>
  {% endif %}
{% endblock %}
